# Default ignored files
/.idea/
/node_modules/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/.env
/dataSources/
/dataSources.local.xml
/shopify-front-end-challenge.iml
