<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front end Challenge</title>
    <link rel="stylesheet" href="./resources/stylesheets/main-style.css" type="text/css">
    <script src="index.mjs"></script>
</head>
<body>
<div class="container">
    <h1>Fun With AI - Front end Challenge</h1>
    <label for="prompt">Enter Prompt</label>
    <textarea name="user-prompt" id="prompt" cols="30" rows="10"></textarea>
    <button type="submit" onclick="getResponse(document.getElementById('prompt').value)">Submit</button>
</div>
</body>
</html>