<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Front end Challenge</title>
<!--    <link rel="stylesheet" href="./views/stylesheets/main-style.css" type="text/css">-->
<!--    <script src="index.mjs"></script>-->
</head>
<body>
<div class="container">
    <h1>Fun With AI - Front end Challenge</h1>
    <form action="" method="POST">
    <label for="prompt">Enter Prompt</label>
    <textarea name="input" id="prompt" cols="30" rows="10"></textarea>
    <input type="submit" value="submit" name="submit">
    </form>

    <% if(typeof answerJSON != 'undefined') { %>
        <script>
            let answerJSON = <%- JSON.stringify(answerJSON) %>
            window.localStorage.setItem(window.localStorage.length.toString(), JSON.stringify(answerJSON));
        </script>
    <% }//End if statement %>
    <script>
        for(let i = 0;i<localStorage.length;i++){
            let prompt = JSON.parse(window.localStorage.getItem(i.toString()))['prompt']
            let response = JSON.parse(window.localStorage.getItem(i.toString()))['answer']
            document.write('<h2>Prompt: '+prompt+'</h2>')
            document.write('<h2>Answer: '+response+'</h2>')
        }
    </script>

</div>
</body>
<script>

</script>
</html>